.main_chat
  .header__right
    .header__right__left
      .header__right__left__name
        = @group.name
      .header__right__left__members
        - @group.users.each do |user|
          =user.name
    .header__right__right
      = link_to edit_group_path(@group.id), class: "header_edit" do
        Edit
  .message
    -@posts.each do |message|
      .message__details
        .message__details__user
          =message.user.name
        .message__details__time
          =message.created_at.strftime("%Y年%m月%d日 %H時%M分")
      .message__content
        - if message.text.present?
          = message.text
        = image_tag message.image.url if message.image.present?
  .message__form
    .message__form__wrapper
      = form_for [@group, @post], url: group_messages_path(@group), html: { class: "form__contents" } do |f|
        .message_bar
          =f.text_field :text, class: "message_area", placeholder: "type a messege"
          %label.image_label
            = icon('far', 'image', class: "image-icon")
            =f.file_field :image, class: "hidden-image"
        =f.submit "Send", class:"send_btn"