.side__bar
  .header__left
    .header__left__users
      %h3.header__left__users__name
        = current_user.name
      .header__left__users__contents
        = link_to edit_user_path(current_user), class: "edit__icon" do
          = icon('fas', 'edit', class: "icon")
          %span>
        = link_to "#", class: "setting__icon" do
          = icon('fas', 'cog',  class: "icon")
          %span>
  .side__bar__contents
    = render "side_bar_groups"
    = render "side_bar_groups"
