.side__bar
  .header__left
    .header__left__users
      .header__left__users__name
        masa
      .header__left__users__contents
<<<<<<< Updated upstream
        = link_to "#", class: "edit__icon" do
=======
        = link_to new_group_path, class: "edit__icon" do
>>>>>>> Stashed changes
          = icon('fas', 'edit', class: "icon")
          %span>
        = link_to edit_user_path(current_user), class: "setting__icon" do
          = icon('fas', 'cog',  class: "icon")
          %span>
  .side__bar__lists
    - current_user.groups.each do |group|
      .group
        = link_to '#' do
          .group__name
            = group.name
        .group__message
          メッセージはまだありません。